[submodule "benchmarking/moongen"]
	path = benchmarking/moongen
	url = https://github.com/emmericp/MoonGen
[submodule "baselines/vigor/vigor"]
	path = baselines/vigor/vigor
	url = https://github.com/vigor-nf/vigor
[submodule "baselines/click"]
	path = baselines/click/click
	url = https://github.com/kohler/click
	ignore = dirty
[submodule "baselines/ixy/ixy"]
	path = baselines/ixy/ixy
	url = https://github.com/emmericp/ixy
	ignore = dirty
