[submodule "benchmarking/moongen"]
	path = benchmarking/moongen
	url = https://github.com/emmericp/MoonGen
[submodule "baselines/vigor/vigor"]
	path = baselines/vigor/vigor
	url = https://github.com/vigor-nf/vigor
[submodule "baselines/ixy/ixy"]
	path = baselines/ixy/ixy
	url = https://github.com/emmericp/ixy
	ignore = dirty
[submodule "baselines/dpdk/dpdk"]
	path = baselines/dpdk/dpdk
	url = https://github.com/DPDK/dpdk
	ignore = dirty
[submodule "baselines/vigor/dpdk-verified"]
	path = baselines/vigor/dpdk-verified
	url = http://dpdk.org/git/dpdk-stable
	ignore = dirty
[submodule "baselines/vigor/dpdk"]
	path = baselines/vigor/dpdk
	url = http://dpdk.org/git/dpdk-stable
	ignore = dirty
[submodule "experiments/lowlevel/papi"]
	path = experiments/lowlevel/papi
	url = https://bitbucket.org/icl/papi
	ignore = dirty
